{% extends "learning_logs/base.html" %}

{% block page_header %}
<h1><a href="{% url 'learning_logs:topic' entry.topic.id %}">{{entry.topic}}</a></h1>
{% endblock page_header %}

{% block content %}

<p>{{ entry.date_added|date:'M d, Y H:i' }}</p>

        <div class="card mb-3">
            <h3 class="card-header">
                {{entry.entry_name}}
            </h3>
            <div class="card-body">
                {{ entry.text|safe }}
            </div>
            <div class="card-footer">
                <h4> <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Редагувати допис</a></small></h4>
            </div>
        </div>


{% endblock content%}
