{% extends "learning_logs/base.html" %}

{% block page_header %}
<h1>{{ topic|linebreaks }}</h1>
{% endblock page_header %}

{% block content %}

    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Додати новий допис</a>
    </p>

      {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                <a href="{% url 'learning_logs:entry' entry.id %}">{{entry.entry_name}}</a>
                <br>
                <small class="text-muted" >{{ entry.date_added|date:'M d, Y H:i' }}</small>
            </h4>
            <div class="card-body">
                {{ entry.text|safe }}
            </div>
            <div class="card-footer text-muted">
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">Редагувати допис</a>
            </div>
        </div>
      {% empty %}
        <p> Ще немає дописів до цієї теми </p>
      {% endfor %}


{% endblock content%}
