{% extends "learning_logs/base.html" %}

{% block page_header %}
{% if search %}
    <h1>Пошук</h1>
{% else %}
    <h1>{{ topic|linebreaks }}</h1>
{% endif %}
{% endblock page_header %}

{% block content %}

<div style="float:right">
    <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form>
        <input type="text" placeholder="Search.." name="search"
               {% if search %} value="{{ search }}" {% endif %}>
        <button type="submit"><i class="fa fa-search"></i></button>
        <a href="#"><i class="fa fa-undo"></i></a>
    </form>
</div>

    {% if search %}
      {% for entry in page %}
        <div class="card mb-3">
            <h4 class="card-header">
                <a href="{% url 'learning_logs:entry' entry.id %}">{{entry.entry_name}}</a>
                <br>
                <small class="text-muted" >{{ entry.date_added|date:'M d, Y H:i' }}</small>
            </h4>
            <div class="card-body">
                {{ entry.text|safe }}
            </div>
            <div class="card-footer text-muted">
                                {% for tag in entry.tags.all %}
                {{ tag }}
                {% endfor %}
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">Редагувати допис</a>
                <a href="{% url 'learning_logs:entry_delete' entry.id %}" style="float:right">Видалити допис</a>
            </div>
        </div>
      {% empty %}
        <p> Нема результатів </p>
      {% endfor %}

    {% else %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">Додати новий допис</a>
    </p>

      {% for entry in page %}
        <div class="card mb-3">
            <h4 class="card-header">
                <a href="{% url 'learning_logs:entry' entry.id %}">{{entry.entry_name}}</a>
                <br>
                <small class="text-muted" >{{ entry.date_added|date:'M d, Y H:i' }}</small>
            </h4>
            <div class="card-body">
                {{ entry.text|safe }}
            </div>
            <div class="card-footer text-muted">
                {% for tag in entry.tags.all %}
                {{ tag }}
                {% endfor %}
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">Редагувати допис</a>
                <a href="{% url 'learning_logs:entry_delete' entry.id %}" style="float:right">Видалити допис</a>
            </div>
        </div>
      {% empty %}
        <p> Ще немає дописів до цієї теми </p>
      {% endfor %}
    {% endif %}

{% if page.has_other_pages %}
<div class="pagination"
     style="margin: 0 auto; width: 420px; background-color: GhostWhite;">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; Перша</a>
            <a href="?page={{ page.previous_page_number }}">Попередня</a>
        {% endif %}

        <span class="current">
            Сторінка {{ page.number }} з {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Наступна</a>
            <a href="?page={{ page.paginator.num_pages }}">Остання &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock content %}
